@import "@app/colors";
@import "@app/mixins";

.app-home {
	
	&__content {
		margin-left: 150px;
		padding-top: 60px;
		overflow: hidden;
		@include breakpoint("small") {
			margin-left: 90px;
		}	

		#trending-games-header {
			margin-top: 45%;		
			@include breakpoint("large") {
				margin-top: 47%;
			}
		
			@include breakpoint("medium") {
				margin-top: 53%;
			}
			
		}
	}	
}
