@import "@app/mixins";

#sidenav {
    height: 100vh;
    position: fixed;
    z-index: 50;   
    width: 74px;
    background: #050e1c;
    border-bottom-right-radius: 5px;
    margin-top: 34px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );

    @include breakpoint("xsmall") {
        width: 50px;
    }	

    .modules-menu {    
        padding-left: 34%;
        @include breakpoint("xsmall") {
            padding-left: 25%;
        }	
    }
}

