
<div class="w-100 mt-4 d-flex justify-content-center banner-img-wrapper">
    <img src="assets/images/Games2.png" alt="GAMES" title="Play our games!" id="games-banner-img">
</div>

<div 
infiniteScroll
class="games-wrapper"
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="350"
[infiniteScrollDisabled]="disableScrolling"
(scrolled)="onScroll()">
    <games-list 
    [gamesQuantity]="gamesToLoad"
    [showFilters]="true"
    (onFilter)="handleScrolling($event)"></games-list>
</div>

<div class="last-played-content">
    <h3 class="casino-text-bg casino-font text-uppercase mt-5 fs-5" >Last Played Games</h3>
    <ng-container *ngIf="showLastPlayedGames">		
		<games-list [lastPlayed]="true"></games-list>
	</ng-container>	

	<ng-container *ngIf="!showLastPlayedGames">
		<div class="d-flex justify-content-center mt-5 mb-5">
			<span class="casino-text text-uppercase">You haven't played any games yet!</span>	
		</div>			
	</ng-container>	    
</div>
