
<div class="container-fluid">
    <div class="row">
        <games-filters *ngIf="showFilters" (onSearch)="filterGames($event)"></games-filters>  
    </div>
    <div class="row">       
        <ng-container>
            <ng-container *ngFor="let game of games">        
                <div class="col-12 col-md-6 col-xl-4 col-xxl-3 d-flex justify-content-center game-col" *ngIf="game.thumb" >
                    <div class="d-flex flex-column w-100 ps-3 div-game-wrapper">   
                        <casino-game [gameToDisplay]="game"></casino-game>                   
                    </div> 
                </div>
            </ng-container>
        
            <ng-container *ngIf="tag !== ''">
                <div class="w-100 d-flex justify-content-center mb-5 pb-3 browse-games-wrapper">
                    <button mat-raised-button color="primary" class="casino-text" (click)="navigateToGamesPage()">Browse all games  
                        <mat-icon class="position-relative casino-text" id="browse-games">keyboard_double_arrow_right</mat-icon>
                    </button>               
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="isLoading && !finishedLoadingAllGames">
            <div class="w-100 d-flex justify-content-center position-relative spinner-wrapper">
                <mat-spinner color="accent" id="games-spinner"></mat-spinner>
            </div>       
        </ng-container>        
       
    </div>
</div>

