/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #02070F;
    color: #fff;
}

.casino-text {
    color: #c9be43;
}
.font-tooltip {
    font-size: 0.8rem;   
}