/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'arialBlack';
    src: url('./assets/fonts/arial.ttf');
  }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'arialBlack', Roboto, "Helvetica Neue", sans-serif !important; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: rgb(27,3,60);
    background: radial-gradient(circle, rgba(27,3,60,1) 54%, rgba(52,21,93,1) 87%);
    color: #fff;   
}

.casino-text {
    color: #FFF800 !important; 
}

.casino-font {      
    font-family: 'arialBlack' !important;
    letter-spacing: 0.7px;
}

.font-tooltip {
    font-size: 0.8rem;   
}